<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <%- include('./_blocks/head') %>
    <title>About me - <%= $site.siteName %></title>
  </head>
  <body>
    <div class="main">
      <nav class="navigation">
        <a href="/"><%= $site.siteName %></a>
      </nav>
      <div class="about"><%- $page.content %></div>
    </div>
  </body>
</html>
