<!DOCTYPE html>
<html lang="zh-cn" id="homepage">
  <head>
    <%- include('./_blocks/head') %>
    <title><%- $site.siteName %></title>
  </head>

  <body>
    <div class="homepage-main">
      <div class="homepage-title-area">
        <h1 class="homepage-title"><%- $site.siteName %></h1>
        <h2 class="homepage-subtitle"><%- $page.slogan %></h2>
      </div>
    </div>
  </body>
</html>
